#warningWindow {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1rem;
    position: absolute;
    background: white;
    left: 44rem;
    width: 31rem;
    height: 10rem;
  }

  .warningHeading{
    background: #ac0e77;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .warningMsg{
    padding: 1rem;
    margin-top: 0.5rem;
    font-weight: bold;
  }

  .buttonOkCont{
    float: right;
    padding-right: 0.6rem;
  }

  .buttonOkCont button{
    background: #ac0e77;
    border: 1px solid black;
    font-weight: bold;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    color: white;
  }

  .buttonOkCont button:hover{
    cursor: pointer;
  }

  .visible{
    visibility: block;
  }

  .hidden{
    visibility: hidden;
  }